* {
    box-sizing: border-box;
}
.register-section {
    width: 400px;
    margin: auto;
    background-color: #ddd;
    padding: 5px;
}
label, input {
    display: block;
    width: 100%;
    margin-top: 3px;
}
label {
    font-weight: 600;
    margin-top: 10px;
}
input {
    border: 1px solid #aaa;
    padding: 3px;
}
#submit {
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    background-color: #0055ff;
}
#formErrors {
    display: none;
}
li {
    color: #f00;
}
